.card {
    padding: 2rem 0;
    border-radius: 1.5rem;
    
    &:hover {
        background-color: var(--gray-50);
    }

    h3 {
        font-family: var(--consolaa);
        font-size: 1.5rem;
        text-align: center;
    }

    i {
        display: block;
        width: fit-content;
        margin: 0 auto;
    }

    img {
        width: 100%;
        object-fit: cover;
    }

    Button {
        margin: 1rem auto 0;
    }

}