@mixin button {
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  padding: 0.5em 1em;
  font-size: var(--md);
  border-radius: 50px;
  font-weight: 900;

  &:hover {
    filter: brightness(0.95);
  }
}

.transparent {
  @include button;
  background-color: var(--white-transparent);
  color: #222;

  &:hover {
    color: var(--green-600);
  }
}

.primary {
  @include button;
  background-color: var(--green-600);
  color: white
}

.secondary {
  @include button;
  background-color: var(--gray-100);
  color: black;
}

.danger {
  @include button;
  background-color: var(--red-600);
  color: white;
}