@mixin button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5em 1.5em;
  font-size: var(--md);
  border-radius: 50px;

  &:hover {
    filter: brightness(0.9);
  }
}

.primary {
  @include button;
  background-color: var(--green-600);
  color: white
}

.secondary {
  @include button;
  background-color: var(--gray-100);
  color: black;
}

.danger {
  @include button;
  background-color: var(--red-500);
  color: white;
}