:root {
  --text-dark: hsl(162, 100%, 9%);
  --white: hsl(0, 0%, 95%);

  --green-100: hsl(162, 100%, 97%);
  --green-200: hsl(162, 100%, 92%);
  --green-300: hsl(162, 100%, 88%);
  --green-400: hsl(162, 100%, 76%);
  --green-500: hsl(162, 56%, 46%);
  --green-600: hsl(162, 56%, 36%);
  --green-700: hsl(162, 56%, 26%);
  --green-800: hsl(162, 56%, 16%);
  --green-900: hsl(162, 56%, 6%);

  --green-transparent: hsla(162, 56%, 46%, 0.15);

  --gray-100: hsl(0, 0%, 90%);
  --gray-200: hsl(0, 0%, 80%);
  --gray-300: hsl(0, 0%, 70%);
  --gray-400: hsl(0, 0%, 60%);
  --gray-500: hsl(0, 0%, 50%);
  --gray-600: hsl(0, 0%, 40%);
  --gray-700: hsl(0, 0%, 30%);
  --gray-800: hsl(0, 0%, 20%);
  --gray-900: hsl(0, 0%, 10%);

  --svg-theme-color: brightness(0) saturate(100%) invert(66%) sepia(12%)
    saturate(2137%) hue-rotate(111deg) brightness(92%) contrast(80%);
}
