:root {
  --text-dark: hsl(162, 100%, 9%);

  --white: hsl(0, 0%, 95%);
  --white-transparent: hsla(0, 0%, 95%, 0.15);

  --blue:200;
  --green:160;
  --yellow:60;
  --red:340;

  --light-50: 95%;
  --light-100: 90%;
  --light-200: 80%;
  --light-300: 70%;
  --light-400: 60%;
  --light-500: 50%;
  --light-600: 40%;
  --light-700: 30%;
  --light-800: 20%;
  --light-900: 10%;

  --green-100: hsl(var(--green), 100%, var(--light-100));
  --green-200: hsl(var(--green), 100%, var(--light-200));
  --green-300: hsl(var(--green), 100%, var(--light-300));
  --green-400: hsl(var(--green), 100%, var(--light-400));
  --green-500: hsl(var(--green), 56%, var(--light-500));
  --green-600: hsl(var(--green), 56%, var(--light-600));
  --green-700: hsl(var(--green), 56%, var(--light-700));
  --green-800: hsl(var(--green), 56%, var(--light-800));
  --green-900: hsl(var(--green), 56%, var(--light-900));

  --yellow-100: hsl(var(--yellow), 100%, var(--light-100));
  --yellow-200: hsl(var(--yellow), 100%, var(--light-200));
  --yellow-300: hsl(var(--yellow), 100%, var(--light-300));
  --yellow-400: hsl(var(--yellow), 100%, var(--light-400));
  --yellow-500: hsl(var(--yellow), 56%, var(--light-500));
  --yellow-600: hsl(var(--yellow), 56%, var(--light-600));
  --yellow-700: hsl(var(--yellow), 56%, var(--light-700));
  --yellow-800: hsl(var(--yellow), 56%, var(--light-800));
  --yellow-900: hsl(var(--yellow), 56%, var(--light-900));

  --blue-100: hsl(var(--blue), 100%, var(--light-100));
  --blue-200: hsl(var(--blue), 100%, var(--light-200));
  --blue-300: hsl(var(--blue), 100%, var(--light-300));
  --blue-400: hsl(var(--blue), 100%, var(--light-400));
  --blue-500: hsl(var(--blue), 56%, var(--light-500));
  --blue-600: hsl(var(--blue), 56%, var(--light-600));
  --blue-700: hsl(var(--blue), 56%, var(--light-700));
  --blue-800: hsl(var(--blue), 56%, var(--light-800));
  --blue-900: hsl(var(--blue), 56%, var(--light-900));

  --red-100: hsl(var(--red), 100%, var(--light-100));
  --red-200: hsl(var(--red), 100%, var(--light-200));
  --red-300: hsl(var(--red), 100%, var(--light-300));
  --red-400: hsl(var(--red), 100%, var(--light-400));
  --red-500: hsl(var(--red), 56%, var(--light-500));
  --red-600: hsl(var(--red), 56%, var(--light-600));
  --red-700: hsl(var(--red), 56%, var(--light-700));
  --red-800: hsl(var(--red), 56%, var(--light-800));
  --red-900: hsl(var(--red), 56%, var(--light-900));

  --green-transparent: hsla(162, 56%, 46%, 0.15);

  --gray-50: hsl(0, 0%, var(--light-50));
  --gray-100: hsl(0, 0%, var(--light-100));
  --gray-200: hsl(0, 0%, var(--light-200));
  --gray-300: hsl(0, 0%, var(--light-300));
  --gray-400: hsl(0, 0%, var(--light-400));
  --gray-500: hsl(0, 0%, var(--light-500));
  --gray-600: hsl(0, 0%, var(--light-600));
  --gray-700: hsl(0, 0%, var(--light-700));
  --gray-800: hsl(0, 0%, var(--light-800));
  --gray-900: hsl(0, 0%, var(--light-900));

  --svg-theme-color: brightness(0) saturate(100%) invert(66%) sepia(12%)
    saturate(2137%) hue-rotate(111deg) brightness(92%) contrast(80%);
}
