.header {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  position: relative;
  height: calc(100vh - 3rem);

  img {
    filter: saturate(0);
    object-fit: contain;
    width: 100%;
  }

  @media screen and (max-width: 900px) {
    padding-top: 4rem;
    display: grid;
    place-content: center;

    img {
      display: none;
    }
  }

  .icon {
    position: absolute;
    bottom: 1rem;
    left: calc(50% - 12px);
    animation: move-down 1s infinite;
  }

  @keyframes move-down {
    0%, 100% {
      transform: translateY(-20px);
    }
    50% {
      transform: translateY(1rem);
    }
  }
}
