.card {
  position: absolute;
  inset: 0;
  z-index: 10;
  display: flex;

  @media screen and (max-width: 850px) {
    display: block;
  }

  background-color: #fff;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow-y: auto;

  .cardInfo {
    padding: 2rem;
    background-color: var(--blue-900);

    @media (min-width: 850px) {
      height: 100%;
      width: 70ch;
      overflow-y: auto;
    }
  }

  .cardImages {
    width: 100%;
    overflow-y: auto;
    
    @media (max-width: 850px) {
      height: fit-content;
    }
  }

  h3 {
    font-size: 2rem;
    font-family: var(--title-font);
    color: var(--green-400);
    padding-block: 3rem 1.5rem;
  }

  p {
    line-height: 1.6;
    text-indent: 1ch;
    margin-bottom: 1ch;
    color: var(--gray-200);
  }

  .imgContainer {
    width: 100%;
    margin: 0;
    padding: 0;

    img {
      width: 100%;
      height: 100%;
      max-height: 100dvh;
      object-fit: contain;
    }
  }
}

.buttonClose {
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.displayFooter {
  padding: 2rem;
  margin: 0 auto;
  width: fit-content;
  display: grid;
  place-items: center;
  gap: 8px;

  p {
    text-align: center;
    text-indent: 0;
    margin: 0;
    line-height: 1;
    color: black;
  }

  .image {
    margin: 0 auto;
  }
}

.separator {
  height: 1px;
  background: var(--green-400);
  margin: 0 0 1rem;
}