.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    background-color: #eee;
  }

  .galleryImageContainer {
    position: relative;
    aspect-ratio: 7/5;
    overflow: hidden;
    cursor: pointer;

    &:hover .image {
        transform: scale(1.2) rotate(1deg);
      }
      
      &:nth-child(1),
      &:nth-child(2)
      {
        grid-column: span 2;
        grid-row: span 2;
        filter: blur(0.8px);
    }
  }

  .image {
    background-color: #f4f4f4;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
  }
